<!--form-filter-box-->
<div class="form-filter-box">
	<form action="/" class="box-inner-wrap">
		<div class="form-inner-wrap">
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-field-input js-datepicker">
						<div class="field-title">Дата заезда</div>
						<input type="text" class="form-input" placeholder="Выберите дату">
						<div class="frm-ico">
							<img src="./img/icons/frm-calendar.svg" alt="">
						</div>
					</div>
				</div>
				<div class="frm-field">
					<div class="frm-field-input js-datepicker">
						<div class="field-title">Дата выезда</div>
						<input type="text" class="form-input" placeholder="Выберите дату">
						<div class="frm-ico">
							<img src="./img/icons/frm-calendar.svg" alt="">
						</div>
					</div>
				</div>
				<div class="frm-field">
					<div class="frm-field-input">
						<div class="field-title">Кол-во гостей</div>
						<select class="form-input" required>
							<option disabled hidden value="">Выберите количество</option><!--placeholder-->
							<option selected>1 взрослый</option>
							<option>2 взрослый</option>
							<option>3 взрослый</option>
							<option>4 взрослый</option>
						</select>
						<div class="frm-ico">
							<img src="./img/icons/frm-guests.svg" alt="">
						</div>
					</div>
				</div>
				<div class="frm-field">
					<div class="frm-field-input">
						<div class="field-title">Промокод</div>
						<input type="text" class="form-input" placeholder="">
						<div class="frm-ico">
							<img src="./img/icons/frm-gift.svg" alt="">
						</div>
					</div>
				</div>
				<div class="frm-field field-submit">
					<button type="submit" class="btn">
						<div class="button-title">Показать наличие</div>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!--/form-filter-box-->