
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="footer-main-wrap">
				<div class="logo-inner-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo-image.svg" alt="">
						</div>
						<div class="logo-title">
							<img src="./img/main/logo-title.svg" alt="">
						</div>
					</a>
				</div>
				<div class="contacts-inner-wrap">
					<div class="phone-wrap">
						<div class="phone-title">
							<a href="tel:89774944334">+7 (977) 494-43-34</a>
						</div>
						<div class="phone-info">домики и бани</div>
					</div>
					<div class="phone-wrap">
						<div class="phone-title">
							<a href="tel:89851968886">+7 (985) 196-88-86</a>
						</div>
						<div class="phone-info">беседки и рыбалка</div>
					</div>
					<div class="email-wrap">
						<div class="email-title">
							<a href="mailto:glempingdurykino@yandex.ru">glempingdurykino@yandex.ru</a>
						</div>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-vk-ico.svg" alt="">
							<img src="./img/icons/soc-vk.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-wa-ico.svg" alt="">
							<img src="./img/icons/soc-wa.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tg-ico.svg" alt="">
							<img src="./img/icons/soc-tg.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-q-ico.svg" alt="">
							<img src="./img/icons/soc-q.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="footer-info-wrap">
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О глемпинге</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Забронировать дом</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Рыбалка</div>
							</a>
						</li>
					</ul>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Развлечения</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Полезная информация</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Как добраться</div>
							</a>
						</li>
					</ul>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Правила проживания</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Пользовательское соглашение</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="form-inner-wrap">
					<div class="form-title">Подпишитесь, и всегда будьте <br> в&nbsp;курсе новостей и акций</div>
					<form action="/" class="frm-main-subscribe form-light">
						<div class="field-input">
							<input type="email" class="form-input" placeholder="Ваш email">
						</div>
						<button type="submit" class="btn">
							<div class="button-title">Подписаться</div>
							<div class="button-ico">
								<img src="./img/icons/arrow-send.svg" alt="">
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p>©Все права защищены. Дурыкино глэмпинг</p>
				</div>
				<div class="info-wrap">
					<p>ИП Лебедева Дарья Борисовна, ИНН 773573492288</p>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-form">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Если остались вопросы или идеи, что можно улучшить, напишите</div>
			<div class="popup-subtitle">Ответим в течение дня на все вопросы и рассмотрим все ваши идеи</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-title">Ваше имя</div>
							<input type="text" class="form-input" placeholder="">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<div class="frm-field-input">
							<div class="field-title">Ваш телефон</div>
							<input type="text" class="form-input" placeholder="">
						</div>
					</div>
					<div class="frm-field field-half">
						<div class="frm-field-input">
							<div class="field-title">Ваш email</div>
							<input type="text" class="form-input" placeholder="">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="field-title">Ваш вопрос или предложение</div>
							<input type="text" class="form-input" placeholder="">
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup-form">
							<label for="popup-form">
								<div class="lbl-title">Я&nbsp;согласен с&nbsp;<a href="">Политикой обработки</a> Персональных данных</div>
							</label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Отправить</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->