<head>
	<title>Главная</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/fancybox.css">
	<link rel="stylesheet" href="./css/swiper-bundle.min.css">
	<link rel="stylesheet" href="./css/style.min.css">
	<link rel="stylesheet" href="./css/flatpickr.min.css">
	<script src="./js/popper.min.js" defer></script>
	<script src="./js/tippy-bundle.umd.min.js" defer></script>
	<script src="./js/flatpickr.js" defer></script>
	<script src="./js/ru.js" defer></script>
	<script src="./js/swiper-bundle.min.js" defer></script>
	<script src="./js/fancybox.umd.js" defer></script>
	<script src="./js/scripts.js" defer></script>
</head>