<div class="elm-photo">
	<img src="./img/map.svg" alt="">
	<a href="./img/photo06.jpg" class="elm-map map-b01" data-fancybox="map-b01">
		<img src="./img/map/b01.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b01c" data-fancybox="map-b01c">
		<img src="./img/map/b01c.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b02" data-fancybox="map-b02">
		<img src="./img/map/b02.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b02c" data-fancybox="map-b02c">
		<img src="./img/map/b02c.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b03" data-fancybox="map-b03">
		<img src="./img/map/b03.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b04" data-fancybox="map-b04">
		<img src="./img/map/b04.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b05" data-fancybox="map-b05">
		<img src="./img/map/b05.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b06" data-fancybox="map-b06">
		<img src="./img/map/b06.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b07" data-fancybox="map-b07">
		<img src="./img/map/b07.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b08" data-fancybox="map-b08">
		<img src="./img/map/b08.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b09" data-fancybox="map-b09">
		<img src="./img/map/b09.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-b10" data-fancybox="map-b10">
		<img src="./img/map/b10.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-bath01" data-fancybox="map-bath01">
		<img src="./img/map/bath01.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-bath02" data-fancybox="map-bath02">
		<img src="./img/map/bath02.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d01" data-fancybox="map-d01">
		<img src="./img/map/d01.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d02" data-fancybox="map-d02">
		<img src="./img/map/d02.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d03" data-fancybox="map-d03">
		<img src="./img/map/d03.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d04" data-fancybox="map-d04">
		<img src="./img/map/d04.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d05" data-fancybox="map-d05">
		<img src="./img/map/d05.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d06" data-fancybox="map-d06">
		<img src="./img/map/d06.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d07" data-fancybox="map-d07">
		<img src="./img/map/d07.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d08" data-fancybox="map-d08">
		<img src="./img/map/d08.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d09" data-fancybox="map-d09">
		<img src="./img/map/d09.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-d10" data-fancybox="map-d10">
		<img src="./img/map/d10.png" alt="">
	</a>
	<a href="./img/photo06.jpg" class="elm-map map-g01" data-fancybox="map-g01">
		<img src="./img/map/g01.png" alt="">
	</a>
	<div class="elm-map map-001">
		<img src="./img/map/001.svg" alt="">
	</div>
	<div class="elm-map map-002">
		<img src="./img/map/002.svg" alt="">
	</div>
	<div class="elm-map map-003">
		<img src="./img/map/002.svg" alt="">
	</div>
	<div class="elm-map map-004">
		<img src="./img/map/004.svg" alt="">
	</div>
	<div class="elm-map-code">
		<img src="./img/code.svg" alt="">
	</div>
</div>
